<form [formGroup]="profileForm" class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>User Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input formControlName="firstName" matInput placeholder="First name">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input formControlName="lastName" matInput placeholder="Last name">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field class="full-width">
            <textarea formControlName="address" matInput placeholder="Address"></textarea>
          </mat-form-field>
        </div>
        <div class="col-md-6 top-padding">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Select Birth Date</mat-label>
            <input formControlName="dateOfBirth" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <mat-radio-group formControlName="gender" class="margin-left">
            <mat-radio-button value="male"> Male </mat-radio-button>
            <mat-radio-button value="female"> Female </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <br> <br>
      <div class="row">
        <div class="col-md-12">
          <mat-form-field>
            <mat-label>Your Country</mat-label>
            <mat-select formControlName="selected">
              <mat-option value="">--choose One--</mat-option>
              <mat-option value="Bangladesh">Bangladesh</mat-option>
              <mat-option value="India">India</mat-option>
              <mat-option value="Nepal">Nepal</mat-option>
            </mat-select>

          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4>Select your Hobby</h4>
          <p>
            <mat-checkbox formControlName="swimming">Swimming</mat-checkbox>
          </p>
          <p>
            <mat-checkbox formControlName="riding">Riding</mat-checkbox>
          </p>
          <p>
            <mat-checkbox formControlName="traveling">Traveling</mat-checkbox>
          </p>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button (click)="saveForm()" mat-raised-button color="primary">Save</button>
    </mat-card-actions>
  </mat-card>
</form>